{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
    <h1>Crée nouveau compte</h1>

    {{ include('account/_form.html.twig') }}

    <a href="{{ path('account_index') }}">Retour à la liste</a>
{% endblock %}
