{% extends 'base.html.twig' %}

{% block title %}Editer bénéficiaire{% endblock %}

{% block body %}
    <h1>Editer bénéficiaire</h1>

    {{ include('target/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('target_index') }}">Retour à la liste</a>

    {{ include('target/_delete_form.html.twig') }}
{% endblock %}
